.amarillo {
  background-color: #F7B617;
}

.textoBlanco {
  color: white;
  font-size: 18px;
}

#disfrutaDelViaje {
  background-image: url("../img/taxi.jpg");
  background-repeat:  space;
  background-size: cover;
  background-position: bottom;
  height: 600px;
}

.recuadroInformacion {
  padding-bottom: 3%;
  margin-top: 10%;
}

.rayita {
  width: 30%;
  border: 1px solid white;
  display: inline-block;
}

.boton-estilos {
  background-color: white;
  color: black;
  font-weight: bold;
}

#iphone {
  width: 50%;;
}

.recuadroBordesBlancos {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
