#disfrutaDelViaje {
  background-image: url("../img/taxi.jpg");
  background-repeat:  space;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 600px;
}

.recuadroInformacion {
  width: 40%;
  color: white;
  background-color: #F7B617;
  padding-bottom: 3%;
  margin-top: 10%;
}

.rayita {
  width: 30%;
  border: 1px solid white;
  display: inline-block;
}

.boton-estilos {
  background-color: white;
  color: black;
  font-weight: bold;
}
